<div class="wrapper">
    <div class="book">
        <div class="inner-book">
            <div class="img" style="padding-top: calc(1.07 * 100%)">
                <img
                    src="https://imgv3.fotor.com/images/cover-photo-image/a-beautiful-girl-with-gray-hair-and-lucxy-neckless-generated-by-Fotor-AI.jpg"
                />
            </div>
            <div class="page"></div>
            <div class="page page-2"></div>
            <div class="page page-3"></div>
            <div class="page page-4"></div>
            <div class="page page-5"></div>
            <div class="img final-page" style="padding-top: calc(1.07 * 100%)">
                <img
                    src="https://imgv3.fotor.com/images/cover-photo-image/a-beautiful-girl-with-gray-hair-and-lucxy-neckless-generated-by-Fotor-AI.jpg"
                />
            </div>
        </div>
    </div>
</div>