<div class="story-category">
    <div class="list-title border-bottom">
        <h2>        
            <a href="#">Thể loại</a>
        </h2>
    </div>
    <div class="box-the-loai row p-2">
        @for (var i = 0; i < 30;i++) {
            if (i%3 ==0) {
                <div class="col-6 ps-4">
                    <a href="#">Huyền huyễn</a>
                </div>
            }else {
                <div class="col-6 ps-4">
                    <a href="#">Chiến tranh</a>
                </div>
            }
        }
    </div>
</div>