@{
    var message = TempData["StatusMessage"] as string;
}
@if (!String.IsNullOrEmpty(message))
{
    var statusMessageClass = message.StartsWith("Error") ? "danger" : "success";
    <div class="alert alert-@statusMessageClass alert-dismissible" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        @message
    </div>
}
