@model SetUserPasswordModel
@{
    ViewData["Title"] = "Đặt mật khẩu";
    ViewData["ActivePage"] = ManageNavPages.User;
}

<h4>Thiết lập mật khẩu cho: @ViewBag.user.UserName</h4>
<partial name="_StatusMessage" />

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NewPassword"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a class="btn btn-secondary" asp-action="Index">
                    <i class="bi bi-caret-left-fill"></i>Quay lại
                </a>
                <input type="submit" value="Cập nhật" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
