@{
    Layout = "";
}
<form method="POST">
    <input type="password" name="password" placeholder="Password">
    <button asp-action="SeedAdminAccount" type="submit">Seed admin account</button>
    <button asp-action="SeedData" type="submit">Seed demo data</button>
</form>

