@{
    var relatedStory = ViewBag.relatedStories as List<Story>;
}


<div class="list-title border-bottom">
    <h2>        
        <a href="#">Truyện cùng tác giả</a>
    </h2>
</div>
<table class="story-table table table-borderless table-striped table-dark">
    <tbody>
        @for (var i = 0; i <5;i++) 
        {
            <tr>
                <td>
                    <a class="fw-semibold" asp-action="DetailStory" asp-route-storySlug="xin-chao-quoc-vuong">Ánh Trăng Soi Sáng Lòng Anh</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="list-title border-bottom">
    <h2>        
        <a href="#">Truyện cùng thể loại</a>
    </h2>
</div>
@if (relatedStory != null) 
{
    <table class="story-table table table-borderless table-striped table-dark">
        <tbody>
            @foreach(var story in relatedStory) {
                <tr>
                    <td>
                        <a class="fw-medium text-success" asp-action="DetailStory" asp-route-storySlug="@story.StorySlug">@story.StoryName</a>
                        <small class="d-block">
                            @foreach (var c in story.StoryCategories)
                            {
                                <a asp-action="SearchStory" asp-route-categorySlug="@c.Category.CategorySlug">@c.Category.CategoryName</a>
                            }
                        </small>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}