$primary-color: #0f2a53;
$secondary-color: #144272;
$text-color: rgba(255, 255, 255, 0.8);
$text-secondary-color: rgba(255, 255, 255, 0.6);
$text-dark-color: rgba(0, 0, 0, 0.9);
$header-bg-color: #0A2647;
$breadcrumb-bg-color: #144272;

