@using Microsoft.EntityFrameworkCore
@inject truyenchu.Data.AppDbContext dbContext

<div class="story-category">
    <div class="list-title border-bottom">
        <h2>        
            <a href="#">Thể loại</a>
        </h2>
    </div>
    <div class="box-the-loai row p-2">
        @{
            var categories = await dbContext.Categories.ToListAsync();
        }
        @foreach (var category in categories) 
        {
            <div class="col-6 ps-4">
                <a asp-controller="ViewStory" asp-action="SearchCatgory" asp-route-categorySlug="@category.CategorySlug">@category.CategoryName</a>
            </div>
        }
    </div>
</div>