<div class="row mt-2 justify-content-start">
    @for (var i=0;i<12;i++) {
        <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-6">
            <a asp-action="DetailStory" asp-route-storySlug="xin-chao-quoc-vuong" class="story d-block">
                <span class=" translate-middle badge bg-success">
                    Full
                    <span class="visually-hidden">unread messages</span>
                </span>
                <img class="img-fluid w-100" src="https://static.8cache.com/cover/o/eJzLyTDW140IdjQy1vVyCsz21A9zLrDMS_Yq8s7w1HeEguzEUP2C0hQnvyJvD-dCX_1yQyNL3QxDSyMAQTMSRg==/nguoi-cam-quyen.jpg" alt="">
                <div class="story-title position-absolute bottom-0 start-0 w-100 text-center">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et tempore harum eum! </p>
                </div>
            </a>
        </div>
    }
</div>