@inject truyenchu.Data.AppDbContext context
@{
    var categories = context.Categories.ToList();
    var selectListItem = new SelectList(categories, nameof(Category.CategorySlug), nameof(Category.CategoryName));
}
<div class="list-title border-bottom">
    <h2>
        <a href="#">Truyện hot</a>
    </h2>
    <select id="hot-select" asp-items="@selectListItem" class="form-select w-auto rounded-0">
        <option value="all" selected>Tất cả</option>
    </select>
</div>
<div id="box-hot-select" class="row mt-2 justify-content-start"></div>

@section Scripts {
    <Script>
        function LoadStories(type, categorySlug = 'all', count=12, container) {
            $.ajax({
                url: "@Url.Action("GetStoriesByCategorySlug", new {area = "ViewStory"})",
                method: "GET",
                data: {
                    categorySlug: categorySlug,
                    type: type,
                    count: count
                },
                success: function(res) {
                    var box = $(container);
                    box.empty()
                    if (res != null){
                        for (var item of res) {
                            console.log(item);
                            var url = `@Url.Action("DetailStory", new {area = "ViewStory", storySlug="replacethis"})`.replace('replacethis', item.storySlug)
                            var full = item.storyState ?`<span class=" translate-middle badge bg-success">
                                                            Full
                                                            <span class="visually-hidden">unread messages</span>
                                                        </span>`:'';
                            box.append($(`
                            <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-6">
                                <a href="${url}" class="story d-block">
                                    ${full}
                                    <img class="img-fluid w-100" src="/contents/story_thumb/${item.photo.fileName}" alt="">
                                    <div class="story-title position-absolute bottom-0 start-0 w-100 text-center">
                                        <p>${item.storyName} </p>
                                    </div>
                                </a>
                            </div>`
                            ))
                        }
                    }
                }
            })
        }
        function SetEventSelect() {
            $("#hot-select").change(function() {
                var categorySlug = $(this).val();
                LoadStories('hot_select', categorySlug, 12,"#box-hot-select" );
            })
        }    
        $(document).ready(function() {
            LoadStories('hot_select', null,12, "#box-hot-select");
            SetEventSelect();
        })
    </Script>
}